/*
 * multiline.css
 *
 * Xander Locsin, 10722432
 *
 * Defines styling for elements in multiline.js
 ****************************************************/

.chart text {
  fill: black;
  font: 10px sans-serif;
  text-anchor: middle;
}

/*From: http://bl.ocks.org/Caged/6476579*/
.lineDot:hover {
  stroke: black;
  stroke-width: 1;
}

.d3-tip {
  line-height: 3;
  padding: 5px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
}

.tip{
  font: 10px sans-serif;
}

.tip2{
  font: 10px sans-serif;
  text-align: left;
}

.tip-title {
  font: 14px sans-serif;
}

.line {
    stroke-width: 2;
    fill: none;
}

.axis text {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}


/*From: http://bl.ocks.org/mikehadlow/93b471e569e31af07cd3*/
.overlay {
  fill: none;
  stroke: none;
  pointer-events: all;
}

.focusLine {
  fill: none;
  stroke: steelblue;
  stroke-width: 0.5px;
}

.focusCircle {
  stroke: black;
  stroke-width: 1;
  fill: white;
}


.legend{
  fill:#FFFFFF;
  stroke:#020203;
  stroke-miterlimit:10;
}

.legend_element{
  stroke:#020203;
  stroke-miterlimit:10;
}
