/****
 * linked.css
 *
 * Name: Xander Locsin
 * StudentID: 10722432
 *
 * Defines styling of elments in linked.js.
 *
 ****/

#pageTitle {
  font: 26px sans-serif;
}

.htmlText {
  font: 14px sans-serif;
}

.calendarLegendText {
  font: 14px sans-serif;
  text-anchor: end;
}

.day:hover {
  stroke: grey;
  stroke-width: 4;
}

.title {
  fill: black;
  font: 14px sans-serif;
  text-anchor: middle;
}

#barLegend {
  stroke: black;
  fill: white;
}

.barLegendBox {
  stroke: black;
}

.barLegendText {
  font: 11px sans-serif;
}

.d3-tip {
  font: 10px sans-serif;
  line-height: 1;
  padding: 5px;
  background: rgba(0, 0, 0, 0.8);
  color: white;
}

.axis text {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
